.admin-page-container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    height: 90vh;
}


.admin-page-container .right {
    width: 76%;
}

/* nav */
.admin-nav {
    height: 80px;
    width: 100%;
    padding: 12px 0;
    background-color: #b484f4;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border-radius: 0 0 0 5px;
}

.nav-search {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search span {
    margin-right: 4px;
}

.nav-search input {
    padding: 8px;
    width: 700px;
    outline: none;
    border: #8a43e7 2px solid;
    border-radius: 4px;
}

.arrange {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.arrange-title {
    margin-right: 8px;
}

.sort-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 10px;
    z-index: 1000;
    color: #7E30E1;
    right: 5px;
    top: 50px;
    /* animation: slideFromRight 0.3s ease forwards; */
}

.sort-menu div {
    padding: 10px 20px;
    cursor: pointer;
}

.sort-menu div:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.admin-sidebar {
    background-color: #8a43e7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 300px;
    padding: 0 12px;
    flex-direction: column;
    overflow: auto;
    color: #ffffff;
}

.sidebar-btn-close {
    float: right;
    margin-top: 12px;
    font-size: 32px;
}

.sidebar-btn-close:hover {
    cursor: pointer;
    background-color: red;
    padding: 4px;
    border-radius: 2px;
}

.top-sidebar {
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.admin-avatar {
    border-radius: 50%;
    height: 100%;
    border: 2px solid #ffffff;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 12px;
}

.admin-sidebar-menu {
    margin-left: -28px;
}

.bottom-sidebar {
    margin: 12px 0;
}

.admin-tab {
    display: flex;
    padding: 24px;
    list-style: none;
    align-items: center;
    margin: 4px 0;
}

.admin-tab:hover,
.admin-tab.active {
    background-color: #b484f4;
    border-radius: 10px;
    color: #7E30E1;
    cursor: pointer;
}

.admin-icon-tab {
    margin: 0 16px 0 0;
}

/* userlist */
.admin-tab-content {
    margin-right: 20px;
}

.ad-user-list-item,
.ad-match-list-item {
    background-color: #b484f4;
    padding: 12px 16px;
    border-radius: 4px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;

}

.ad-user-list-item p,
.ad-match-list-item p{
    margin: 0;
}

.user-list-length {
    margin: 4px 0;
    font-size: 15px;
    color: #ffffff;
}

.quantity-user {
    font-size: 19px;
    color: #ffffff;
    background-color: #b484f4;
    margin: 0 4px;
    border-radius: 4px;
    padding: 0 4px;
}

.ad-user-list-left {
    display: flex;
    margin-right: 32px;
    flex: 4;
    align-items: center;
}
.lastLoginDate{
    font-size: 12px;
}
.ad-user-list-center {
    flex: 6;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.ad-user-list-right {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    display: flex;
}

.ad-user-list-left img {
    width: 50px;
    height: 50px;
    margin: 0 12px 0 0;
    cursor: default;
}

.user-id {
    font-size: 12px;

}

.ad-match-list-left {
    flex: 4;
    align-items: center;
}

.ad-match-list-center {
    flex: 6;
}

.ad-match-list-right {
    flex: 4;
    text-align: right;
}

/* statistical */
.statistical {
    color: #ffffff;
}

.statistical-top {
    display: flex;
    justify-content: space-between;

}

.win-match,
.lose-match {
    width: 50%;
    background-color: #b484f4;
    padding: 8px;
    border-radius: 5px;
    margin-right: 12px;
    height: 120px;
}
.admin-icon,
.admin-icon-win,
.admin-icon-lose,
.admin-icon-check,
.admin-icon-warning {
    font-size: 20px;
    margin: 0;
}

.admin-icon-check{
    color: #32CD32;
}

.admin-icon-warning , .admin-icon-check, .admin-icon{
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}

/* more btn */
.pageable{
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}

.pageable input{
    width: 50px;
    padding: 8px 0;
    margin: 0 8px;
}
.more-btn {
    background-color: #b484f4;
    color: #f0f0f0;
    padding: 12px;
    margin: 8px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    float: right;
}

.more-btn:hover {
    cursor: pointer;
    /* box-shadow: 2px 3px #b484f4; */
}