@import './constant.css';
.container-gameplay{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 48px;
}
.chat-div{
    background-color: #ffffff;
    height: max-content;
    border-radius: 15px;
    padding: 8px;
    margin-left: 32px;
}
.board{
    display: grid;
    grid-template-columns: calc(.25* var(--tile-size)) calc(8* var(--tile-size));
    margin: 32px 0;
    position: relative;
}
.tiles{
    display: grid;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    width:calc(8 *var(--tile-size));
}
.tile{
    padding: 12px;
    margin: 0;
    position: relative;
}
.tile--light{
    background-color: var(--light-tile);
}
.tile--dark{
    background-color: var(--dark-tile);
}
.highlight::after{
    content: "";
    display: block;
    position: absolute;
    width: calc(.5*var(--tile-size));
    height: calc(.5*var(--tile-size));
    border-radius: 50%;
    top: 25%;
    left: 25%;
    background-color: var(--highlight);
    /* background-color: red; */
}
.attacking::after{
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--tile-size) - 5px);
    height: calc(var(--tile-size) - 5px);
    border-radius: 50%;
    top: 3%;
    left: 3%;

    border: 4px solid var(--highlight);
    /* border: 4px solid red; */
}
.old-piece .new-piece{
    background-color: #8aa905;
}

/* khung người chơi */
.player-turn{
    display: flex;
    justify-content: space-between;
}
.control-game{
    border-radius: 15px;
    border: solid 2px #ffffff;
    margin: 0;
    width: 50%;
    height: 80px;
    background-color: #eadacb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  
}
.img-avt{
    border-radius: 50%;
    border: var(--dark-tile) 3px solid;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #6e19dc;
   
}
.control-game.active{
    background-color: var(--light-tile);
    border: 4px solid #8aa905;
}
.main-room-player.own {
    position: absolute;
    top: -20px;
    right: 0;
    text-align: center;
    color: #ffd000;
    font-size: 32px;
    z-index: 1;
    transform: rotate(-27deg);
}
.name-player{
    width: 85px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}
.icon-chess-game{
    font-size: 35px;
}
.turn-player{
    text-align: center; 
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.countdown-timer {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

#timer {
    color: green;
    font-weight: bold;
}
.icon-chess-white{
    color: #ffffff;
}

/* khung chưa các nút bấm */
.control-btn{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 12px;
}
.control-btn button{
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 4px;
    background-color: #eadacb;
}

/* VictoryModal */

.victory-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(35, 35, 23, 0.6);
    z-index: 1000;
}

.victory-img{
    border: #ffffff 3px solid;
    background-color: #6e19dc;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
}

.tilte-win {
    margin-top: 24px;
    color: azure;
    text-align: center;
    font-size: 24px;
}
.btn-control{
    display: flex;
    justify-content: center;
}
.btn-yes, .btn-out {
    text-align: center;
    width: 20%;
    border: none;
    background-color: #6e19dc;
    color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    margin: 24px;
}