.home-container {
    /* height: 90vh; */
    width: 90vw;
    padding: 5vh 5vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(73, 16, 139, 0.3);
    border-radius: 10vh;

}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#avatar {
    border-radius: 50%;
    height: 100%;
    border: 2px solid #ffffff;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: auto;

}

#avatar:hover {
    box-shadow: 0 0 2px #b484f4, 0 0 6px #8a43e7, 0 0 10px #7E30E1;
}

.username-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#username-title {
    color: #F3F8FF;
    font-size: 20px;
    margin: 0 8px;
}

.money-container {
    display: flex;
    align-items: center;
    background-color: #b484f4;
    padding: 0 20px;
    border-radius: 10px;
    width: 20%;
    min-width: max-content;
    justify-content: center;
}

.money-container>div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.money-icon {
    color: #ffd000;
    font-size: 20px;
}

.money {
    margin: 0 5px 0;
    color: #ffd000;
    font-size: 20px;
}

.gem-icon {
    color: #0077ff;
    font-size: 20px;
}

.money.gem {
    color: #0077ff;
}

.setting-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    position: relative;
    margin: 0 8px;
}
.icon-container.final{
    margin-right: 0;
}

.dot {
    color: red;
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 10px;
    display: none;
}

.dot.show {
    display: block;
}

.setting-icon {
    color: #F3F8FF;
    margin: auto 10px;
    cursor: pointer;
    font-size: 28px;
}

.setting-icon:hover {
    filter: drop-shadow(0 0 4px #F3F8FF);
}

.middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.thumb-image {
    height: 100%;
    width: auto;
    object-fit: fill;
}

.bottom-container {
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-button-container {
    display: flex;
    flex-direction: row-reverse;
}

.util-container {
    width: 50%;
    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
}

.shop-container {
    width: 20%;
    position: relative;
    margin: auto 10px;
}

.util-icon {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.util-icon:hover {
    filter: drop-shadow(0 0 3px #F3F8FF);
}

.action-button {
    padding: 20px 30px;
    background-color: #49108B;
    border: none;
    border-radius: 10px;
    color: #F3F8FF;
    cursor: pointer;
    margin: auto 10px;
}

.action-button:hover {
    background-color: #8a43e7;
    box-shadow: 0 0 2px #b484f4, 0 0 6px #8a43e7, 0 0 10px #7E30E1;

}

#create-room-button {
    background-color: #7E30E1;
}

#return-room-button {
    background-color: #5f30e1;
}

/* modal  */
.modal-body-bag {
    display: flex;
    height: 70vh;
    margin: 14px 12px;
}

.modal-body.modal-height {
    height: 70vh;
}
.modal-body-bag.modal-height.empty{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-bag{
    width: 30%;
    height: auto;
    object-fit: contain;
    padding: 10px;
}
.empty-title{
    font-size: 24px;

}

.modal-left-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
}

.modal-left-container::-webkit-scrollbar {
    width: 8px;
}

.modal-left-container::-webkit-scrollbar-thumb {
    background-color: #49108B;
    border-radius: 4px;
}

.modal-left-container::-webkit-scrollbar-track {
    background-color: #E26EE5;
    border-radius: 4px;
}

.item-container {
    width: calc(24% - 2px);
    height: auto;
    border: 1px solid #2d2d2d;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    margin: 4px;
    border-radius: 5%;
    padding: 8px;
}

.item-container.chosen {
    border: 3px solid #7E30E1; 
}


.item-container:hover>.item-image {
    filter: drop-shadow(0 0 5px #7E30E1);
}

.item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
}

.item-quantity {
    position: absolute;
    bottom: 0;
    right: 5px;
    margin: 0;
}

.modal-right-container {
    width: calc(40% - 20px);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin-left: 5px;
    border-left: 2px solid #2d2d2d;
    padding-left: 10px;
}

.sort-info-chosen-item-container {
    display: flex;
    height: 30%;
    width: 100%;
    margin-bottom: 10px;
}

.item-image-review-container {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    overflow: hidden;
}

#item-image-review {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 3px solid #2d2d2d;
    padding: 5px;
    border-radius: 5%;
}

.chosen-item-info-container {
    max-width: 60%;
}

.chosen-item-name {
    margin: 0;
    max-height: 80%;
    overflow: hidden;
    margin-top: 5px;
}

.chosen-item-quantity {
    color: #49108B;
    margin: 0;
}

.item-description-container {
    height: calc(60% - 20px);
    overflow: auto;
    margin-bottom: 10px;
}

.item-description-container::-webkit-scrollbar {
    width: 8px;
}

.item-description-container::-webkit-scrollbar-thumb {
    background-color: #49108B;
    border-radius: 4px;
}

.item-description-container::-webkit-scrollbar-track {
    background-color: #E26EE5;
    border-radius: 4px;
}

.item-action-button-container {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}
.item-action-button-container.empty {
    align-items: center;
    height: 100%;
    justify-content: center;
}

.item-action-button {
    padding: 0 20px;
    cursor: pointer;
    border-radius: 5px;
}

.item-action-button:hover {
    background-color: #F3F8FF;
}

.use-button {
    background-color: #b484f4;
}

/* modal chọn phòng */


.search-room {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-room-input {
    margin: 0 12px;
}

.searchBtn {
    margin-bottom: 1rem;
}

.listRoom {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: fit-content;
    overflow: auto;
    width: 100%;
}

.listRoom::-webkit-scrollbar {
    width: 8px;
}

.listRoom::-webkit-scrollbar-thumb {
    background-color: #49108B;
    border-radius: 4px;
}

.listRoom::-webkit-scrollbar-track {
    background-color: #E26EE5;
    border-radius: 4px;
}

.room {
    padding: 10px 20px;
    background-color: #7E30E1;
    color: #F3F8FF;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-radius: 5px;
    border: none;
    max-height: 50px;
    width: 100%;
    cursor: pointer;
}

.room:hover,
.createBtn:hover,
.upload-avatar-button:hover {
    filter: drop-shadow(0 0 4px #7516f2);
}

/* modal tạo phòng */
.createRoom {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow:auto;
}

.createBtn {
    padding: 8px;
    border: none;
    color: #F3F8FF;
    border-radius: 5px;
    width: 100px;
    margin: 24px auto;
}

.shake {
    animation: shake 0.5s;
    border-color: red !important;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}


/* EditUserProfileModal */
.editAvt img{
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    min-width: 100px;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 50%;
}
.input-username-container-profile input{
    width: calc(92% - 20px);
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    
}
.input-username-container-profile input:focus{
    outline: none;
}
.upload-avatar-button{
    cursor: pointer;
    background-color: #7E30E1;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 12px 0;
}
.upload-container-profile{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-username-container-profile{
    border:#7E30E1 2px solid;
    min-width: 340px;
    width: 50%;
    display: flex;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    margin: auto;
}
.createBtn{
    background-color: #7E30E1 !important;
}