/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* waitroom */
    .online-part,
    .chat-room-part,
    .chat-div {
        display: none;
    }
    .icon-mobile-online,
    .icon-mobile-chat {
        display: block;
    }

    .top-name-user {
        padding-left: 25px;
        width: 74%;
        margin-left: 61px;
    }

    .img-frame {
        top: -5px;
        left: 4px;
        width: 70px;
        height: 70px;
    }

    .password-div input {
        width: 50px;
    }

    /* home */
    .action-button {
        padding: 12px 15px;
    }
    .item-action-button{
        font-size: 14px;
        margin: 0 4px ;
    }

    /* game-play */
    .turn-player-mobile {
        display: block;
    }
}

/* Điện thoại di động */
@media only screen and (max-width: 767px) {

    /* waitroom */
    .online-part,
    .chat-room-part,
    .chat-div {
        display: none;
    }

    .top-name-user {
        padding-left: 65px;
        padding-right: 4px;
        width: 100%;
        margin-left: 0;
    }

    .img-frame {
        top: -5px;
        left: 4px;
        width: 50px;
        height: 50px;
    }

    .password-div input {
        width: 50px;
    }

    .btn-play-game {
        padding: 8px 12px;
        font-size: 14px;
    }
    .icon-mobile-online,
    .icon-mobile-chat {
        display: block;
    }

    /* home */
    .item-action-button{
        font-size: 12px;
        padding: 12px;
        margin: 0 4px ;
    }
    .setting-icon {
        font-size: 18px;
    }

    .action-button {
        padding: 12px;
        font-size: 12px;
    }

    #username-title,
    .money {
        font-size: 16px;
    }

    #username-title {
        display: none;
    }

    /* game-play */
    .turn-player-mobile {
        display: block;
    }

    /* create-character && login && register */
    .title {
        font-size: 40px;
    }

    .title-container {
        margin: 12px 0;
    }

    .form-container {
        border: none;
    }

    .input-username-container {
        min-width: 250px;
    }

    .choose-avatar-title {
        font-size: 14px;
    }

    .choose-avatar-scroller {
        max-height: 200px;
    }

    #upload-avatar-button,
    #confirm {
        font-size: 14px;
    }

    #confirm {
        padding: 8px;
    }
}

/* Laptop */
@media only screen and (min-width: 1025px) {}