.container {
    width: 100%;
    margin: auto;
}

/* TOP */
.top-part {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.score-and-money {
    position: relative;
    width: 30%;
    background: #ffffff;
    border-radius: 10px;
    border-top-right-radius: 10px;
    margin: 12px 0;
    width: 30%;
}

.top-name-user {
    text-transform: uppercase;
    background-color: #8aa905;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 32px 8px 8px;
    text-align: right;
    margin-bottom: 0;
    height: fit-content;
}

.img-frame {
    position: absolute;
    top: -5px;
    left: 18px;
    border: #ffffff 3px solid;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #6e19dc;
    border-radius: 10px;
    z-index: 1;
}

.coins {
    text-align: right;
    padding: 10px 0;
    margin-bottom: 0;
}

.money-icon {
    color: #ffd000;
    font-size: 20px;
    padding: 0 8px;
}

.lable-room {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 40%;
}

.lable {
    background: #ecb103;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 120px;
    margin: 12px;
    border-radius: 5px;
    color: #ffffff;
}

.web-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    width: 30%;
}

.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0a83d8;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-around;
}

.icon-container-exit {
    background-color: #ff0066;
}

.password-div {
    background-color: #0a83d8;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    margin: 0 12px;
}

.password-div input {
    padding: 4px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.options-div {
    display: flex;
    justify-content: space-between;
}

.options-btn {
    margin: 0 8px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #b3b0bb;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.options-btn {
    padding: 8px 32px;
}

/* CENTER */
.center-part {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.center-part-left {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    /* border: 2px solid #ffffff; */
}

.center-part-user {
    position: relative;
    border: solid 2px #ffffff;
    border-radius: 15px;
    width: 180px;
    height: 300px;
    background-color: #eadacb;
    margin: 12px;

}

.player-name {
    position: absolute;
    top: -8px;
    left: 40px;
    width: 79%;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    color: #ffffff;
}

.player-br-fst {
    background-color: #ff0066;
}

.player-br-sed {
    background-color: #0a83d8;
}

.player-br-thr {
    background-color: #ecb103;
}

.player-br-forth {
    background-color: #8aa905;
}

.img-frame-player {
    position: absolute;
    top: -14px;
    left: -5px;
    border: #ffffff 3px solid;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    z-index: 1;
}

.main-room-player {
    position: absolute;
    top: -29px;
    left: -18px;
    text-align: center;
    color: #ffd000;
    font-size: 32px;
    z-index: 1;
    transform: rotate(-27deg);
}

.icon-delete-user {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FF204E;
    font-size: 26px;
    z-index: 1;
}
.btn-invite{
    border: none;
    background-color: transparent;
}
.icon-add-user{
        position: absolute;
        top: 31%;
        right: 23%;
        color: #000000;
        height: 35%;
        z-index: 1;
}
.icon-chess{
    position: absolute;
    top: 31%;
    right: 23%;
    height: 35%;
    cursor: pointer;
}
.icon-chess-white{
    color: #ffffff;
    
}
.icon-chess-black{
    color: #000000;
    
}
/* chat side */
.chat-room-part {
    position: relative;
    border: solid 2px #ffffff;
    border-radius: 15px;
    width: 400px;
    height: 310px;
    background-color: #eadacb;
    margin-top: 16px;

}

.title-chat {
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding-top: 8px;
    margin: 0;
}

.sendMessDiv {
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: 0 6px;
    bottom: 12px;
    width: 100%;
}

.inputMess {
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.sendBtn {
    background-color: #0a83d8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 12px;
    cursor: pointer;
}

.icon-send-mess {
    font-size: 14px;
}

.messageList {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin: 0;
    height: 230px;
    padding: 0px 2px;
    overflow-y: auto;
}

.messageList::-webkit-scrollbar {
    width: 8px;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: #0a83d8;
}

.messageList::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    margin-right: 120px;
}

.messageOwner {
    margin-left: 120px;
    margin-right: 4px;
}

.messageBlock {
    display: flex;
    justify-content: left;
    align-items: center;
}

.messageBlockOwner {
    justify-content: right;
    flex-direction: row-reverse;
    text-align: left;
}

.sendTime,
.sendName {
    font-size: 8px;
    font-weight: 400;
    margin-left: 4px;
}

.sendName {
    padding: 2px;
    border-radius: 3px;
    text-transform: uppercase;
}

.messageContent {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    margin: 4px;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4px;
}

.messageContentOwner {
    justify-content: flex-end;
}

/* =================== */
/* =======BOTTOM============ */
.bottom-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.btn-play-game {
    background-color: #0a83d8;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 185px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

/* list user online */
.online-part {
    position: relative;
    border: solid 2px #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 310px;
    background-color: #eadacb;
    margin-top: 16px;

}
.userList{
    margin: 0;
    height: 270px;
    padding: 0px 2px;
    overflow-y: auto;
}
.userList::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

.userList::-webkit-scrollbar-thumb {
    background-color: #0a83d8;
    border-radius: 15px;
}

.userList::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 15px;
}
.user-card {
    display: flex;
    align-items: center;
    position: relative;
}

.img-frame-player-onl {
    border: #ffffff 3px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 12px;
}

.online-status {
    position: absolute;
    background-color: #8aa905;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px #ffffff solid;
    left: 46px;
    top: 49px;
}
.join{   
    position: absolute;
    background-color: #8aa905;
    border-radius: 5px;
    right: 12px;
    top: 26px;
    padding: 2px 4px;
    font-size: 14px;
}

/* HOVER */
.setting-icon:hover,
.icon-send-mess:hover,
.options-btn:hover,
.btn-play-game:hover,
.icon-chess-white:hover,
.sendBtn:hover {
    filter: drop-shadow(0 0 4px #F3F8FF);
}

.user-card:hover {
    background-color: #0a83d8;
    cursor: pointer;
}